@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Luckiest+Guy&family=Sevillana&display=swap');

.main {
  position: relative;       /* теперь видео не вылезает за секцию */
  min-height: 100vh;        /* секция на весь экран */
  color: #fff;
}

.content {
  position: relative;        /* чтобы контент был поверх видео */
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  max-width: 1440px;
  padding: 150px 20px 20px 20px;
}
h1 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 800;
    font-size: 40px;
    color: var(--main-title);
}
p {
    font-size: 20px;
}

button {
    width: 280px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 7px;
    background: var(--button-main);
    transition: 0.3s;
}

button:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 768px) {
  .content {
    gap: 30px;
    max-width:900px;
    padding: 80px 20px 20px 20px;
  }  
}

@media (max-width: 600px) {
    .content {
    gap: 30px;
    max-width:900px;
    padding: 30px 20px 20px 20px;
    }  
    h1 {
        font-size: 45px;
    } 
    p {
    font-size: 17px;
    }
}