.staff {
  width: 100%;
  color: #fff;
  margin-top: 40px;
}

.employees {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.employee {
  width: 100%;
  max-width: 1300px;
  padding: 20px;
  display: flex;
  gap: 20px;
  box-shadow: 0px 0px 21px #1500ff49;
  border-radius: 20px;
  background-color: rgb(0, 5, 22);
  transition: 0.3s ease all;
}

.employee:hover {
  transform: scale(1.01);
  transition: 0.3s ease all;
}

.employee img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.image {
  text-align: center;
}
.image h3 {
    margin-bottom: 5px;
    font-size: 22px;
}
.employee__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.employee__about span i {
  color: rgb(158, 158, 158);
}
.employee__about ul i {
  color: rgb(158, 158, 158);
}
.employee__about ul li {
    margin: 8px 40px;
    line-height: 25px;
}

@media (max-width: 680px) {
  .employee {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .employee__about ul li {
    margin: 8px 0px 8px 40px;
  }
}

@media (max-width: 375px) {
  .employee__about ul li {
      margin: 8px 0px 8px 30px;
      line-height: 20px;
      font-size: 14px;
  }
}